*{
    background-color: rgb(130, 206, 177);
    margin: 5px;
    padding: 5px;
}
.contenedor p{
    width:90%;
    margin:auto;

}
.contenedor img{
    float:right;
}

.cabecera{
    border-left: solid 4px green;
    border-right: solid 4px green;
    width: 80%;
    margin-left: 100px;
    margin-top: 10px;
    margin-right: 100px;
    text-align: justify;
    padding: 10px;
    text-indent: 40px;

}

.titulo{
    text-align: center;
    text-shadow: 7px -5px 3px rgb(46, 105, 83);
    color: white;
    font-size: 50px;
}


.medio{
    
    text-align: justify;
    text-indent: 40px;
}

.imagen{
    float: left;
   }

.imagen2{
    float: right;
   }

.imagen2 img{
    height: 150px;
    width: 100px;
}

.abajo{
    border: green;
    border-style: none none solid none;
    text-align: justify;
    text-indent: 40px;
}

.imagen3{
    float: right;
}

.imagen3 img{
    height: 200px;
    width: 160px;
}

.imagen4{
    float: left;
}

.imagen4 img{
    height: 100px;
    width: 50px;
}

.pie{
    line-height : 2px;
}

.negrita{
    font-weight: bold;
}

.rojoSubrayado{
    color: red;
    text-decoration: underline;
    font-size:15px;
}

.azul{
    color: blue;
    font-size:15px;
}

.marco{
    border: solid 1px;
}

.subrayado{
    text-decoration: underline;
}

.linea{
    border-bottom: solid 4px green;
    width: 80%;
    margin: auto;
}
